body{
    background-color: antiquewhite;
}

h1{
    text-align: center;
    background-color: lightgrey;
    
}

#submitEmInput{
    float: right;
}

#employeeInfoTable, tr, td{
    border: 1px, solid, black;
    border-collapse: collapse;
}
