body{
    background-color: antiquewhite;
}

h1{
    text-align: center;
    background-color: grey;
    padding: 50px;
    border-radius: 15px;
}

#submitEmInput{
    float: right;
    background-color: lightgrey;
}

table, th, td, tfoot{
    border: 1px solid black;
    height: 20px;
    text-align: left;
    border-collapse: collapse;
}

table{
    width: 100%;
    margin-top; 50px;
}

th{
    padding: 3px;
    background-color: lightgrey;
}

td{
    padding: 3px;
    background-color: white;
}

input{
    margin-top: 5px;
}

#totalMonthlyCost{
    float: right;
}

.redColor{
    background-color: red;
}
